{
    "rules": {
        "indent": [2, "tab"],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "keyword-spacing": 2,
        "no-unused-vars": [1, { "vars": "all", "args": "none" }],
        "no-console": 0,
        "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "space-unary-ops": [2, { "words": true, "nonwords": false }],
        "object-curly-spacing": [2, "always"],
        "array-bracket-spacing": [2, "never"],
        "guard-for-in": 2,
        "no-spaced-func": 2,
        "no-trailing-spaces": [2, { "skipBlankLines": true }],
        "handle-callback-err": 2,
        "comma-spacing": [2, {"before": false, "after": true}],
        "one-var": [2, "never"],
        "no-redeclare": 0,
        "comma-dangle": [1, "never"]
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "extends": "eslint:recommended"
}
